html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

body {
  background: white;
}

a {
  color: #800000;
}

.month {
  font-family: "Helvetica Neue";
}
.month h2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.month .label {
  display: none;
}
.month .day {
  display: none;
}
.month .day .date {
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
}
.month .day .day_of_week {
  display: inline-block;
}
.month .mobile {
  display: block;
}
.month .mobile .event {
  border-bottom: 1px solid gray;
}
.month .mobile .event .event_time {
  font-size: 14px;
}
.month .mobile .event .event_title {
  display: inline-block;
}
.month .mobile .event .event_title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.month .mobile .event .location {
  display: inline-block;
}
.month .mobile .event .location:before {
  content: "@ ";
}
.month .mobile .event .tags {
  border: 1px solid gray;
  display: inline-block;
  font-weight: lighter;
  font-style: italic;
  padding: 1px;
}

@media screen and (min-width: 600px) {
  .month {
    display: table;
    font-family: "Helvetica Neue";
  }
  .month h2 {
    border: none;
  }
  .month .week {
    display: table-row;
  }
  .month .week .day {
    display: table-cell;
    border: 1px solid black;
    width: 170px;
    height: 100px;
    font-size: 12px;
  }
  .month .week .day .date {
    text-align: right;
  }
  .month .week .day .day_of_week {
    display: none;
  }
  .month .week .day .event {
    border: none;
  }
  .month .week .day .event .event_title {
    font-size: 16px;
  }
  .month .week .day .event .event_title a {
    font-weight: normal;
  }
  .month .week .day .event .event_title .adult {
    color: red;
  }
  .month .week .day .event .event_title .kids {
    color: green;
  }
  .month .week .day .event .event_title .personal {
    color: blue;
  }
  .month .week .day .mobile {
    display: none;
  }
  .month .week .day .mobile .event_time {
    font-size: 14px;
  }
  .month .week .day .mobile .tags {
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 2px;
  }
  .month .week .label {
    display: table-cell;
    border: 1px solid black;
    width: 170px;
    height: 20px;
  }
}
