@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

// Global tags

body {
    background: white;
}

a {
    color: #800000;
}

// Everything else

// MOBILE STYLE
.month {
  font-family: "Helvetica Neue";
  h2 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  .label {
    display: none;
  }
  .day {
    display: none;
    .date {
      font-size: 18px;
      font-weight: lighter;
      display: inline-block;
    }
    .day_of_week {
      display: inline-block;
    }
  }
  .mobile {
    display: block;
    .event {
      border-bottom: 1px solid gray;
      .event_time {
        font-size: 14px;
      }
      .event_title {
        display: inline-block;
        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
        }
      }
      .location {
        display: inline-block;
        &:before {
          content: "@ "
        }
      }
      .tags {
        border: 1px solid gray;
        display: inline-block;
        font-weight: lighter;
        font-style: italic;
        padding: 1px;
      }
    }
  }
}


// DESKTOP STYLE
@media screen and (min-width: 600px) {


.month {
  display: table;
  font-family: "Helvetica Neue";
  h2 {
    border: none;
  }
  .week {
    display: table-row;
    .day {
      display: table-cell;
      border: 1px solid black;
      width: 170px;
      height: 100px;
      font-size: 12px;
      .date {
        text-align: right;
      }
      .day_of_week {
        display: none;
      }
      .event {
        border: none;
        .event_title {
          font-size: 16px;
          a {
            font-weight: normal;
          }
          .adult {
            color: red;
          }
          .kids {
            color: green;
          }
          .personal {
            color: blue;
          }
        }
      }
      .mobile {
        display: none;
        .event_time {
          font-size: 14px;
        }
        .tags {
          display: inline-block;
          background-color: black;
          color: white;
          margin-right: 2px;
        }
      }
    }
    .label {
      display: table-cell;
      border: 1px solid black;
      width: 170px;
      height: 20px;
    }
  }
}
}
